---
const { size } = Astro.props;
---
<div 
	class:list={[
		"w-full prose p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-slate-700 dark:text-gray-300",
		size
	]}
>
	<slot />
</div>